[Unit]
Description=Family calendar

[Service]
Type=notify
ExecStart=/srv/family-calendar/family-calendar
WorkingDirectory=/srv/family-calendar
User=pi

[Install]
WantedBy=multi-user.target
