[Unit]
Description=Family calendar

[Service]
Environment=DOTNET_ROOT=/home/pi/.3f-lab/_bin/dotnet
Type=notify
ExecStart=/srv/family-calendar/family-calendar
WorkingDirectory=/srv/family-calendar
User=pi

[Install]
WantedBy=multi-user.target
